*{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  body{
    background-image: url(fundo.jpg);
    background-attachment: fixed;
    
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
   position: absolute;
  
  }
  #logo{
    width:200px;
    align-items: center;
    justify-items: center;
  
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
#dashboard{
  width:325px;
  height: -500px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 20px;
  
  
}


p{
    font-size: 12px;
    color: gray;
    text-align: center;
}
h2{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
input{
    background-color: #fff;
    color: #000000;
    padding-block: 0.5rem;
    width: 98%;
    border-radius: 10px;
    border: 2px solid #0000009c;
}

label{
    font-weight: bolder;
    text-align: left;
    display: block;
    margin-bottom: -15px;
}
#sair_botao{
    background-color: #ffffff;
    width: 100%;
    border-style: none;
    color: #ff0000;
    
}
#mudar_senha{
    background-color: #000000d0;
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border-color: #0000009c;
    border: 2px solid #0000009c;
    font-size: 14px;
    display: block;
    margin-bottom: 0.25px;
}

#imagemfixa{
    position: relative;
    bottom: 200px;
    left: 270px;
}
#retangulo{
background-color: #0eff06;
  border-radius: 20px;
  border: 5px solid #2bff00;
  width: 300px;
  height: 1px;
  position: relative;
  left: 5px;
  top: 20px;
}
input{
    display: block;
    margin-bottom: 0.25px;
}
#voltar_botao{
  background-color: #ffffff;
    width: 100%;
    border-style: none;
    color: #000;
}